/*基础样式*/


/*zhanging upload 2018-02-7*/

body,
html {
	height: 100%;
	width: 100%;
}

body {
	font-family: "微软雅黑", "sans-serif";
	font-size: 14px;
	line-height: 1;
}

ul,
li {
	list-style: none;
	margin: 0;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
}

img,
hr,
legend {
	border: 0;
}

a,
input,
select {
	outline: none;
	background: none;
}

a,
a:hover,
a:active,
a:focus {
	text-decoration: none;
}

a:focus {
	outline: none;
}

label {
	font-weight: normal;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/

select::-ms-expand {
	display: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	zoom: 1;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.w1200 {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.w300 {
	width: 300px;
}

.w560 {
	width: 560px;
}

.w242 {
	width: 242px;
}

.w33 {
	width: 33.33%;
}

.w50 {
	width: 50%;
}

.h375 {
	height: 375px;
}

.h270 {
	height: 270px;
}

.ft18 {
	font-size: 18px;
}

.ml10 {
	margin-left: 10px;
}

.ml5 {
	margin-left: 5px;
}

.mt60 {
	margin-top: 60px;
}

.mt80 {
	margin-top: 80px;
}

.mt40 {
	margin-top: 40px;
}

.mt50 {
	margin-top: 50px;
}

.mt15 {
	margin-top: 15px;
}

.mt30 {
	margin-top: 30px;
}

.mt35 {
	margin-top: 35px;
}

.mt20 {
	margin-top: 20px;
}

.mt10 {
	margin-top: 10px;
}

.ml20 {
	margin-left: 20px;
}

.mr10 {
	margin-right: 10px;
}

.mr20 {
	margin-right: 20px;
}

.mr5 {
	margin-right: 5px;
}

.ml30 {
	margin-left: 30px;
}

.mt5 {
	margin-top: 5px;
}

.mt-10 {
	margin-top: -10px;
}

.pb5 {
	padding-bottom: 5px;
}

.ft60 {
	font-size: 60px;
}

.ft16 {
	font-size: 16px;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

/*flex 布局*/

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

/*垂直显示*/

.flex-v {
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.flex-1 {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow: hidden
}

/*垂直对其方式*/

.flex-align-center {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

/*左右居中*/

.flex-pack-center {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

/*两端对齐*/

.flex-pack-justify {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.c-green {
	color: #40ad34 !important;
}

.c-red {
	color: #d02727 !important;
}

.bg {
	background: #f6f6f6;
}

.header {
	height: 120px;
	background: #fff;
}

.header .logo {
	padding-top: 30px;
	float: left;
}

.headertop {
	background: #349cba;
	color: #fff;
	line-height: 35px;
}

.headertop .loginout {
	color: #fff;
}

.footer {
	background: #fff;
	text-align: center;
	color: #999;
	font-size: 12px;
	padding: 30px 0;
}

.tablink {
	border-bottom: 1px solid #d4d7dc;
	text-align: center;

}

.tablink a {
	display: inline-block;
	padding: 50px 0 35px;
	border-bottom: 4px solid transparent;
	font-size: 18px;
	color: #666;
	width: 400px;
}

.tablink a.active,
.tablink a:hover {
	border-bottom-color: #349cba;
	color: #349cba;
}

.regbox {
	background: #fff;
	width: 927px;
	margin-left: auto;
	margin-right: auto;
	padding: 40px 0 50px;
	border-radius: 5px;
}

.input-group .input-row {
	width: 550px;
	margin-left: auto;
	margin-right: auto;

}

.input-group .input-row label {
	width: 10em;
	display: inline-block;
	text-align: right;
	color: #333;
	margin-right: 15px;
}

.input-group .input-row label i {
	color: #d81111;
	font-style: normal;
}

.input-group .input-row .inputbox {
	background: #f6f6f6;
	height: 50px;
	width: 400px;
	border: none;
	border-radius: 5px;
	/* display: inline-block; */
}

.input-group .input-row .inputbox i {
	display: block;
	width: 50px;
	height: 50px;
	background: no-repeat center center;

}

.input-group .input-row .inputbox i.icon1 {
	background-image: url(../img/icon1.png);
}

.input-group .input-row .inputbox i.icon2 {
	background-image: url(../img/icon2.png);
}

.input-group .input-row input[type=text] {
	background: none;
	height: 50px;
	display: block;
	border: none;
}

.input-group .input-row input[type=text].getcode {
	padding-left: 25px;
}

.input-group .input-row .sendCode {
	color: #fff;
	background: #40ad34;
	line-height: 50px;
	border-radius: 8px;
	width: 130px;
	text-align: center;
	margin-left: 10px;
}

.input-group .input-row .dowmfile {
	border: 1px solid #2cb0d6;
	color: #2cb0d6;
	border-radius: 5px;
	background: url(../img/icon3.png) no-repeat 50px center;
	height: 66px;
	padding-left: 100px;
	padding-top: 15px;
}

.input-group .input-row .uploadBtn {
	color: #fff;
	line-height: 50px;
	width: 130px;
	text-align: center;
	background: #349cba;
	border-radius: 8px;
	margin-left: 10px;
}

.input-group .input-row .uploadImg {
	width: 190px;
	height: 120px;
	border: 1px solid #dfdfdf;
	background: #f8f8f8;
	position: relative;
	border-radius: 8px;
	overflow: hidden;
}

.input-group .input-row .uploadImg p {
	line-height: 120px;
	text-align: center;
	color: #333;
}

.input-group .input-row .uploadImg input[type=file] {
	position: absolute;
	font-size: 400px;
	right: 0;
	top: 0;
	opacity: 0;
}

.input-group .input-row .tip {
	color: #999;
	font-size: 12px;
	line-height: 20px;
}

.input-group .input-row .uploadImg+.tip {

	width: 180px;
	margin-left: 30px;

}

.input-group .input-row .submitBtn {
	font-size: 16px;
	color: #fff;
	border-radius: 8px;
	line-height: 50px;
	width: 400px;
	text-align: center;
	background: #2cb0d6;
	border: none;
}

.loginbox {
	background: #fff;
	margin: 85px auto;
	width: 1060px;
}

.loginbox>img {
	float: left;
}

.loginbox>div {
	float: left;
	width: 430px;
	padding: 60px 40px;
}

.loginbox>div .tablink a {
	float: left;
	width: 50%;
	padding: 0 0 25px;
}

.loginbox>div .input-group .input-row .inputbox,
.loginbox>div .input-group .input-row {
	width: 350px;
}

.loginbox .link,
.loginbox .link a {
	color: #999;
}

.forgetpwd {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .6);
	display: none;
}

.forgetpwd>div {
	position: absolute;
	background: #fff;
	width: 530px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	;
	padding-bottom: 50px;
}

.forgetpwd>div .win-hd {
	text-align: center;
	line-height: 90px;
	margin: 0 40px;
	border-bottom: 1px solid #ddd;
	color: #333;
	font-size: 26px;
}

.forgetpwd .win-input-group {
	width: 380px;
	margin-left: auto;
	margin-right: auto;
}

.forgetpwd .win-input-group .win-input-row label {
	width: 6em;
	margin-right: 8px;
	text-align: right;
	color: #333;
}

.forgetpwd .win-input-group .win-input-row input {
	height: 40px;
	border: 1px solid #ddd;
	padding-left: 10px;
}

.forgetpwd .win-input-group .win-input-row .getcode {
	color: #0c9ec8;
	border: 1px solid #0c9ec8;
	font-size: 12px;
	width: 90px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-left: 20px;
}

.forgetpwd .win-input-group .win-input-row .submitBtn {
	color: #fff;
	text-align: center;
	background: #2cb0d6;
	line-height: 40px;
}

.forgetpwd .close {
	position: absolute;
	right: -40px;
	top: -30px;
}

.grid .submenu {
	float: left;
	width: 220px;
	height: 618px;background: #fff;
}
.grid .submenu .title{
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	background: #1e728a;
	text-align: center;
	line-height: 100px;
}.grid .submenu li a{
	display: block;
	line-height: 50px;
	text-align: center;
	color: #000;
	font-size: 18px;
}.grid .submenu li a.active{
	color: #fff;
	background: #2293b3;
}
.grid .submenu li{
	margin-top: 10px;
	}
.grid .main {
	width: 950px;
	float: right;background: #fff;
	padding: 50px 30px;
	
}
.grid .main .title{
	color: #349cba;
	font-size: 24px;
	position: relative;
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
	padding-left: 15px;
}.grid .main .title:before{
	position: absolute;
	width: 5px;
	height: 24px;
	left: 0;
	top: 0;
	content: '';
	display: block;
	background: #349cba;
}
.grid .main .modbox{
	padding: 40px 15px;
}.grid .main .userinfo .imgbox{
	height: 116px;
	width: 116px;
	border: 1px solid #ededed;
	border-radius: 100%;
	padding: 10px;
	overflow: hidden;
}
.grid .main .userinfo .imgbox img{
	width: 100%;
}.grid .main .userinfo .imgbox +div{
	color: #333;
	font-size: 16px;
	margin-left: 15px;
}.grid .main .userinfo .imgbox +div a{
	color: #999;
	font-size: 14px;
}